version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:80"  # Оставляем только HTTP порт
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80  # Убираем HTTPS!
      - ConnectionStrings__DefaultConnection=Server=host.docker.internal;Database=CrudApiDb;User Id=sa;Password=Mypassword1;TrustServerCertificate=True;
