version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80;https://+:443
      - ConnectionStrings__DefaultConnection=Server=http:5.129.194.147;Database=CrudApiDb;User Id=sa;Password=Mypassword1;TrustServerCertificate=True;
    depends_on:
      - db
    networks:
      - crud-api-network

volumes:
  sqlserver_data:

networks:
  crud-api-network:
    driver: bridge
